@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --progresspontinho: ;
}

h1,
h2,
h3,
h4,
span {
  line-height: 1;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  max-height: 100px;
  max-width: 450px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

#elements {
  display: flex;
  flex-direction: row;
  min-height: 110px;
  max-height: 150px;
  border-radius: 0 0 160px 0;
}

#rankBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}

#playerInfo {
  display: flex;
  background-size: contain;
  color: transparent;
  margin: auto 0;
  margin-left: 20px;
  flex-direction: column;
  border-radius: 10px;
  width: 400px;
  align-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 20px 0;
}

#mainText {
  font-size: 20px;
}

#playerRank {
  font-size: 24px;
}

#WLvalue {
  font-size: 17px;
  color: white;
}

#progressrank {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: white;
  height: 12px;
  background-color: var(--progressrank-color); /*45*/
  border-radius: 10px;
  width: 250px;
  margin: 1px 0;
}

#progressrank::after {
  content: "";
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: absolute;
  height: 12px;
  width: var(--progresspontinho);
  background: var(--progressrank-after-color);
  border-radius: 10px;
  transition: width 2s;
}

#lastmatchpts {
  display: flex;
  gap: 6px;
}

#lastmatchpts span {
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
}
