[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
psycopg2-binary = "*"
sqlmodel = "*"
asyncpg = "*"
sqlalchemy = "*"
uuid = "*"
greenlet = "*"
python-dotenv = "*"
alembic = "*"
aiosqlite = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
dev = "fastapi dev main.py"
