@use 'variables';

:root {
  background: variables.$background-color;
  color: variables.$white;
  font-size: 16px;
  font-family: variables.$font-family_1;
  font-synthesis: none;
  font-feature-settings: normal;
  font-variation-settings: normal;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;

  .main__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .main__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.8rem;

      .btn {
        $btn-text-color: variables.$white;
        align-items: center;
        background: #fff;
        border: none;
        border-radius: 0.75rem;
        color: $btn-text-color;
        display: flex;
        gap: 0.75rem;
        height: 3.5rem;
        padding: 0 1.5rem;
        font-weight: 600;
        font-size: 1.125rem;
        transition: all 0.2s;
        text-decoration: none;

        &:hover {
          background: #fff;
          cursor: pointer;
        }

        &:active {
          background: #fff;
        }
      }

      .footer {
        opacity: 0.5;
        font-size: 0.875rem;
        font-weight: 300;
      }
    }
  }
}
