@import 'variables';

:root {
  background: $background-color;
  color: $white;
  font-size: 16px;
  font-family: $font-family_1;
  font-synthesis: none;
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;

  .main__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .main__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.8rem;

      .pretitle {
        margin: 0;
        font-size: 10px;
        font-weight: 600;
        color: #00c4ff;
        padding: 6px 12px;
        background: rgba(0, 196, 255, 0.3);
        border: 1px solid #00c4ff;
        box-shadow: rgb(0 191 255 / 10%) 0 0 40px;
        border-radius: 999px;
        line-height: 1;
        animation: blink 2s linear infinite;
      }

      @keyframes blink {
        0% {
          box-shadow: rgb(0 191 255 / 3%) 0 0 40px;
        }
        50% {
          box-shadow: rgb(0 191 255 / 10%) 0 0 40px;
        }
        100% {
          box-shadow: rgb(0 191 255 / 3%) 0 0 40px;
        }
      }

      .title {
        margin: 0;
        font-family: $logo-family;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: -0.025em;
        line-height: 1;
        background-color: $white;
        background-image: linear-gradient(to bottom, #fff, #ccc);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .description {
        margin: 0;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 700;
        background-color: $white;
        background-image: linear-gradient(to bottom, #fff, #ccc);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
      }

      .btn {
        $btn-text-color: $white;
        align-items: center;
        background: #fff;
        border: none;
        border-radius: 0.75rem;
        color: $btn-text-color;
        display: flex;
        gap: 0.75rem;
        height: 3.5rem;
        padding: 0 1.5rem;
        font-weight: 600;
        font-size: 1.125rem;
        transition: all 0.2s;
        text-decoration: none;

        &:hover {
          background: #fff;
          cursor: pointer;
        }

        &:active {
          background: #fff;
        }
      }

      .footer {
        opacity: 0.5;
        font-size: 0.875rem;
        font-weight: 300;
      }
    }
  }
}
