@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import 'variables.scss';

[x-cloak] {
	display: none !important;
}
html {
	background-color: $background-color_1;
	font-family: $font-family_1;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	color: $color_1;
	height: auto;
	display: block;
	margin: 0;
}
span {
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}
h3 {
	margin: 0;
	padding: 0;
}
input {
	background-color: $background-color_2;
	padding: 15px;
	margin: 0;
	line-height: 0;
	border: none;
	border-radius: 12px;
	cursor: text;
	font-size: 14px;
	font-weight: 600;
	color: $color_1;
	transition: all 0.2s;
	outline: none;
	width: -webkit-fill-available;
	&::placeholder {
		color: $color_2;
	}
	&:hover {
		&:not(:read-only) {
			filter: brightness(115%);
			backdrop-filter: saturate(150%) brightness(175%);
		}
	}
	&:focus {
		&:not(:read-only) {
			filter: brightness(115%);
			backdrop-filter: saturate(150%) brightness(175%);
		}
	}
	&:read-only {
		background: none;
		box-shadow: inset 0 0 0 2px #2b2c2e;
	}
}
select {
	background-color: $background-color_2;
	padding: 5px;
	margin: 0;
	line-height: 0;
	border: none;
	border-radius: 12px;
	cursor: text;
	font-size: 14px;
	font-weight: 500;
	color: $color_1;
	transition: all 0.2s;
	outline: none;
}
input[type="checkbox"] {
	cursor: pointer;
}
button {
	line-height: 1;
	font-size: 14px;
	width: fit-content;
	padding: 14px;
	border-radius: 0.75rem;
	font-weight: 600;
	background: none;
	transition: all 0.2s;
	text-decoration: none;
	cursor: pointer;
	color: $color_3;
	border: 1px solid hsla(0, 0%, 100%, 0.3);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	svg {
		stroke: #ffffff;
		transition: all 0.2s;
	}
	&:hover {
		background-color: $background-color_3;
		border-color: $border-color_1;
	}
	&:active {
		background-color: $background-color_4;
		color: $color_4;
		border-color: $border-color_2;
		svg {
			stroke: hsla(0, 0%, 100%, 0.5);
		}
	}
	&:focus {
		background-color: $background-color_4;
		color: $color_4;
		border-color: $border-color_2;
	}
}
.button {
	line-height: 1;
	font-size: 14px;
	width: fit-content;
	padding: 14px;
	border-radius: 0.75rem;
	font-weight: 600;
	background: none;
	transition: all 0.2s;
	text-decoration: none;
	cursor: pointer;
	color: $color_3;
	border: 1px solid hsla(0, 0%, 100%, 0.3);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	svg {
		stroke: #ffffff;
		transition: all 0.2s;
	}
	&:hover {
		background-color: $background-color_3;
		border-color: $border-color_1;
	}
	&:focus {
		background-color: $background-color_4;
		color: $color_4;
		border-color: $border-color_2;
	}
	&:active {
		background-color: $background-color_4;
		color: $color_4;
		border-color: $border-color_2;
		svg {
			stroke: hsla(0, 0%, 100%, 0.5);
		}
	}
}
.button_2 {
	border: 1px solid transparent;
	color: $color_1;
	font-size: 14px;
	&:hover {
		border: 1px solid hsla(0, 0%, 100%, 0.5);
	}
	&:active {
		border: 1px solid hsla(0, 0%, 100%, 0.2);
	}
	&:focus {
		border: 1px solid hsla(0, 0%, 100%, 0.2);
	}
}
.button_2.red {
	border: 1px solid transparent;
	color: $color_5;
	font-size: 14px;
	&:hover {
		background-color: $background-color_5;
		border: 1px solid rgb(255, 56, 72);
	}
	&:active {
		--red-color: rgb(93, 0, 10);
		color: $color_6;
		border: 1px solid var(--red-color);
	}
	&:focus {
		--red-color: rgb(93, 0, 10);
		color: $color_6;
		border: 1px solid var(--red-color);
	}
}
.start {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	h2.title__title {
		font-size: 1.1rem;
		background: -webkit-linear-gradient(#eee, #dadada);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.title {
		.title__right {
			display: flex;
			gap: 12px;
		}
	}
	p {
		font-size: 0.825rem;
		line-height: 1.25rem;
	}
}
.sidepanel {
	background-color: $background-color_6;
	box-shadow: 0px 0px 20px 8px rgb(0 0 0 / 42%);
	height: 100%;
	max-width: 444px;
	right: 0;
	display: flex;
	position: relative;
}
.main {
	height: auto;
	margin: auto auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px;
	.content {
		display: flex;
		margin: 0 6px;
		flex-direction: column;
		gap: 18px;
		max-height: 620px;
		overflow-y: scroll;
		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: $background-color_7;
		}
		&::-webkit-scrollbar {
			width: 5px;
			background-color: $background-color_7;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: $background-color_3;
		}
		>div {
			background-color: $background-color_3;
			border: 1px solid #212121;
			border-radius: 1rem;
			padding: 18px;
		}
		.configuration {
			.title {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
}
.logos {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 32px;
	gap: 10px;
	.pretitle {
		margin: 0;
		font-size: 10px;
		font-weight: 600;
		color: $color_7;
		span {
			background-color: $background-color_8;
			color: $color_8;
			padding: 4px;
			margin-left: 2px;
			border-radius: 9999px;
		}
	}
	.title {
		font-size: 35px;
		background: -webkit-linear-gradient(#fff, #ccc);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.description {
		color: $color_9;
		font-weight: 400;
		font-size: 18px;
	}
}
.settings_input {
	display: flex;
	background-color: $background-color_7;
	border: 1px solid hsla(0, 0%, 100%, 0.3);
	margin: 0;
	line-height: 0;
	border-radius: 12px;
	cursor: text;
	font-size: 14px;
	font-weight: 600;
	color: $color_1;
	transition: all 0.2s;
	outline: none;
	align-items: center;
	padding: 0 11px;
	&:hover {
		background-color: $background-color_3;
	}
}
.nickname_input {
	display: flex;
	background-color: $background-color_7;
	border: 1px solid hsla(0, 0%, 100%, 0.3);
	margin: 0;
	line-height: 0;
	border-radius: 12px;
	cursor: text;
	font-size: 14px;
	font-weight: 600;
	color: $color_1;
	transition: all 0.2s;
	outline: none;
	align-items: center;
	padding: 0 11px;
	&:hover {
		background-color: $background-color_3;
	}
}
.settings {
	display: flex;
	flex-direction: column;
	gap: 9px;
	.checkboxs {
		margin-top: 6px;
		display: flex;
		align-items: center;
		gap: 18px;
		label {
			font-size: 0.9375rem;
			font-weight: 500;
		}
	}
}
h3.label {
	color: $color_10;
	font-size: 0.825rem;
	line-height: 1.25rem;
	font-weight: 400;
}
input.settings {
	background: none;
	padding: 15px;
	padding-left: 12px;
	width: -webkit-fill-available;
	&::placeholder {
		color: $color_2;
	}
	&:read-only {
		box-shadow: none;
	}
	&:hover {
		&:not(:read-only) {
			transform: none;
			filter: none;
			backdrop-filter: none;
		}
	}
	&:focus {
		&:not(:read-only) {
			transform: none;
			filter: none;
			backdrop-filter: none;
		}
	}
}
input.nickname {
	background: none;
	padding: 15px;
	padding-left: 12px;
	width: -webkit-fill-available;
	&::placeholder {
		color: $color_2;
	}
	&:read-only {
		box-shadow: none;
	}
	&:hover {
		&:not(:read-only) {
			transform: none;
			filter: none;
			backdrop-filter: none;
		}
	}
	&:focus {
		&:not(:read-only) {
			transform: none;
			filter: none;
			backdrop-filter: none;
		}
	}
}
.preview {
	flex: 1;
	background-image: url("/img/bg.png");
	background-color: $background-color_9;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.generate {
	display: flex;
	flex-direction: column;
	gap: 18px;
}
.generate__link {
	background-color: $background-color_3;
	border: 1px solid #212121;
	border-radius: 1rem;
	padding: 18px;
}
#iframe {
	border: none;
	min-width: 450px;
	left: 100px;
}
#divframe {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.colorpicker {
	appearance: none;
	-webkit-appearance: none;
	padding: 0;
	border: none;
	border-radius: 6px;
	width: 25px;
	height: 25px;
	&::-webkit-color-swatch {
		border: none;
		border-radius: 10px;
		padding: 0;
	}
	&::-webkit-color-swatch-wrapper {
		border: none;
		border-radius: 10px;
		padding: 0;
	}
}
.link_to_board {
	display: flex;
	gap: 5px;
}
.checkbox-wrapper-2 {
	display: flex;
	.ikxBAC {
		appearance: none;
		background-color: $background-color_10;
		border-radius: 72px;
		border-style: none;
		flex-shrink: 0;
		height: 20px;
		margin: 0;
		position: relative;
		width: 30px;
		box-shadow: none;
		transition: all 100ms ease-out;
		&::before {
			bottom: -6px;
			content: "";
			left: -6px;
			position: absolute;
			right: -6px;
			top: -6px;
		}
		&::after {
			transition: all 100ms ease-out;
			background-color: $background-color_11;
			border-radius: 50%;
			content: "";
			height: 14px;
			left: 3px;
			position: absolute;
			top: 3px;
			width: 14px;
		}
		&:hover {
			background-color: $background-color_12;
			transition-duration: 0s;
		}
		&:checked {
			background-color: $background-color_13;
			&::after {
				background-color: $background-color_11;
				left: 13px;
			}
			&:hover {
				background-color: $background-color_14;
			}
		}
	}
	input[type="checkbox"] {
		cursor: default;
	}
	&:focus {
		&:not(.focus-visible) {
			outline: 0;
		}
	}
}
.no_iframe {
	max-width: 320px;
	text-align: center;
	font-size: 18px;
	background: -webkit-linear-gradient(#fff, #ccc);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
footer {
	margin-top: 36px;
	color: $color_1;
	font-weight: 500;
	font-size: 14px;
	.socials {
		list-style: none;
		display: flex;
		gap: 16px;
		padding: 0;
		justify-content: center;
		align-items: center;
		a {
			transition: all 0.2s;
			--icons-color: hsla(0, 0%, 100%, 1);
			stroke: var(--icons-color);
			fill: var(--icons-color);
			&:hover {
				--icons-color: hsla(0, 0%, 100%, 0.5);
			}
		}
	}
}
