@import "variables.scss";

:root {
  --progresspontinho: ;
}

.overlay__body {
  margin: 0;
  max-width: 450px;
  font-family: $font-family_1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.overlay__body h1 {
  line-height: 1;
  padding: 0;
  margin: 0;
}
.overlay__body h2 {
  line-height: 1;
  padding: 0;
  margin: 0;
}
.overlay__body h3 {
  line-height: 1;
  padding: 0;
  margin: 0;
}
.overlay__body h4 {
  line-height: 1;
  padding: 0;
  margin: 0;
}
.overlay__body span {
  line-height: 1;
  padding: 0;
  margin: 0;
}

.overlay__body #elements {
  display: flex;
  flex-direction: row;
  min-height: 110px;
  max-height: 150px;
  border-radius: 0 0 90px 0;
}
.overlay__body #rankBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}
.overlay__body #playerInfo {
  display: flex;
  background-size: contain;
  color: $overlay_color_1;
  margin: auto 0;
  margin-left: 20px;
  flex-direction: column;
  border-radius: 10px;
  width: 400px;
  align-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 20px 0;
}
.overlay__body #mainText {
  font-size: 20px;
}
.overlay__body #playerRank {
  font-size: 24px;
}
.overlay__body #WLvalue {
  font-size: 17px;
  color: $overlay_color_2;
}
.overlay__body #progressrank {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: $overlay_color_2;
  height: 12px;
  background-color: $overlay_background-color_1;
  border-radius: 10px;
  width: 250px;
  margin: 1px 0;
  &::after {
    content: "";
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $overlay_color_2;
    position: absolute;
    height: 12px;
    width: var(--progresspontinho);
    background: var(--progressrank-after-color);
    border-radius: 10px;
    transition: width 2s;
  }
}
.overlay__body .lastmatchpts {
  display: flex;
  gap: 6px;
  span {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
  }
}
